<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>TextUtils</title>
    <style>
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MIK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Projects</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Skills
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Python</a>
                    <a class="dropdown-item" href="#">HTML CSS JS</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Django</a>
                    <a class="dropdown-item" href="#">React</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contact Us</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<!--Alert-->
<div class="alert alert-success" role="alert">
    <strong>Hurry</strong> &nbsp;You came at the right place.
</div>

<!--Forms-->
<div class="container">
    <form action="/analyze" method="post"> {% csrf_token %}
        <div class="form-floating ">
            <label for="floatingTextarea">&nbsp;Enter Your text here and let the MIK do the magic</label>
            <textarea class="form-control" name="text" placeholder="Your Text" id="floatingTextarea" rows="7"></textarea>
        </div>
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" name="remove_Punc" id="customSwitch1">
            <label class="custom-control-label" for="customSwitch1">Remove Punctuations</label>
        </div>
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" name="uppercase" id="customSwitch2">
            <label class="custom-control-label" for="customSwitch2">UPPERCASE</label>
        </div>
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" name="capt_first" id="customSwitch3">
            <label class="custom-control-label" for="customSwitch3">Capitalize First</label>
        </div>
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" name="new_line" id="customSwitch4">
            <label class="custom-control-label" for="customSwitch4">New Line Remover</label>
        </div>
        <div class="custom-control custom-switch">
            <input class="custom-control-input" type="checkbox" name="extra_spaces" id="customSwitch5">
            <label class="custom-control-label" for="customSwitch5">Extra Spaces Remover</label>
        </div>
        <button type="submit" class="btn btn-success mt-2">Analyze Text</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
